html, body {
	font-size: 16px;
	font-family: sans-serif;
	margin: 0; padding: 0;
}

main {
	margin: 5px;
}

h1 {
	font-size: 26px;
	margin: 0 0 10px 0;
	text-align: center;
}
h2 {
	margin-bottom: 10px;
}

table {
	border-collapse: collapse;
}
th {
	text-align: center;
}

tr:hover>td, tr:hover>th {
	background: #ccc;
}

.error {
	color: #ff0000;
}

.copy-link {
	cursor: pointer;
}
.copy-link:hover {
	text-decoration: underline;
}

.chunk-link {
	display: inline-block; margin: 0.2em;
}

.invisible-link {
	color: inherit;
	text-decoration: none;
}
.invisible-link:hover {
	text-decoration: underline;
}
tr:target {
	background: #eef;
}